@charset "UTF-8";

:root {
    --background-about-me: #191919;
    --background-services: #101010;
    --menu: rgba(255, 251, 251, 0.144);
    --text: rgba(191, 255, 95, 0.856);
}

@media screen and (min-width: 768px){

    /* PROJECTS */

    main h2 {
        padding: 10vh 0px 10vh 0px;
    }
    
    .box {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px 5px;
    }

    .card {
        max-width: 300px;
        padding: 0px;
        margin: 0px 2.5vh 10vh 2.5vh;
    }

    .card img {
        width: 85%;
    }
}

@media screen and (min-width: 1200px){

    /* HEADER AND MENU */

    header {
        flex-direction: row;
        align-content: baseline;
        flex-wrap: wrap;
        height: 30vh;
    }

    nav a:hover {
        color: aquamarine;
        box-shadow: 0px 0px 10px white;
    }

    .button:hover {
        background-color: transparent;
        color: greenyellow;
        border: 2px solid greenyellow;
    }
}