@charset "UTF-8";

@media screen and (min-width: 768px) {
    header {
        padding: 20px;
    }

    #burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu li {
        display: inline-block;
        padding: 2.5vw;
    }

    menu a {
        background-color: transparent;
        font-weight: bold;
        color: greenyellow;
        border: 2px solid greenyellow;
        border-radius: 8px;
    }

    menu a:hover {
        color: white;
        border: 2px solid white;
        box-shadow: 0px 0px 5px white;
    }

    main {
        height: 60vh;
    }

    main > h1 {
        cursor: pointer;
        font-size: 3.5em;
    }

    main p {
        font-size: 1.5em;
    }

    div.campo form input:last-child {
        cursor: pointer;
        padding: 10px 4vw;
    }

    .about-me {
        padding-right: 8vw;
        padding-left: 8vw;
    }

    .about-me div#main-about img {
        float: left;
        width: 40%;
        height: auto;
    }
    
    .about-me div#text-about {
       float: right;
        width: 50%;
    }

    .about-me div#text-about h2, h3 {
        text-align: left;
    }

    .about-me div#text-about p {
        width: 100%;
    }

    .button {
        display: inline-block;
        width: 20%;
    }
}