@charset "UTF-8";

:root {
    --background-about-me: #191919;
    --background-services: #101010;
}

/* Mobile First */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

html {
    height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: black url('../imagens/pexels-pixabay-356147.jpg') no-repeat right center;
    background-size: cover;
    color: white;
}

#burguer {
    display: block;
    background-color: rgba(255, 251, 251, 0.055);
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    border-radius: 50%;
    font-size: 2em;
    cursor: pointer;
}

#burguer:hover {
    background-color: aquamarine;
    color: black;
    transition: .4s;
}

menu {
    display: none;
}

menu h2 {
    display: none;
}

menu ul {
    list-style-type: none;
}

menu li {
    background-color: rgba(255, 255, 255, 0.055);
    width: 250px;
    padding-left: 20px;
}

menu a {
    display: block;
    background-color: aquamarine;
    color: black;
    text-decoration: none;
    text-align: center;

    width: 200px;
    padding: 10px;
    border: 2px solid black;
    font-size: 1.2em;
}

menu a:hover {
    background-color: transparent;
    color: greenyellow;
    border-radius: 20px;
}

main {
    height: 65vh;
    margin-top: 25vh;
    margin-left: 5vw;
    width: 50vw;
    transition-timing-function: ease;
}

main h1 {
    font-size: 1.3em;
}

strong {
    color: greenyellow;
}

main p {
    font-size: 1.1em;
}

main form {
    padding-top: 5vh;
    margin-bottom: 5vh;
    width: 50vw;
    max-width: 100%;
    position: relative;
}

div.campo form input:first-child {
    width: 50vw;
    padding: 14px 2vw;
    border-radius: 30px;
    border: 2px solid greenyellow;
}

div.campo form input:last-child {
    position: absolute;
    padding: 10px 2vw;
    border-radius: 30px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.212);
    background-color: rgb(117, 190, 8);
    border: none;
    right: 6px;
    bottom: 6px;
}

/* Section About Me */

.about-me {
    background-color: var(--background-about-me);
    padding: 5vh 5vw;
    width: 100%;
    
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

.about-me div#main-about img {
    width: 50vw;
    padding-top: 5vh;
    margin-left: 20vw;
    height: auto;
    

}

.about-me div#text-about h2, h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 2vh;
}

.about-me div#text-about h2 {
    font-size: 2.5em;
}

.about-me div#text-about p {
    color: rgb(166, 255, 33);
    line-height: 28px;
    font-size: 1.1em;
    text-align: justify;
    margin-bottom: 5vh;
}

.about-me a#button-about {
    background-color: greenyellow;
    color: black;
    font-weight: bold;
    padding: 13px 20px;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: .4s;

    display: block;
    width: 40%;
    text-align: center;
    margin: auto;
}

.about-me a#button-about:hover {
    background-color: transparent;
    color: white;
    border: 2px solid greenyellow;
}

/* Section Services */

.container-services {
    background-color: var(--background-services);
    padding: 5vh 5vw;
}

.container-services h2 {
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    flex-wrap: wrap;
}

.card {
    background-color: var(--background-about-me);
    width: 280px;
    margin: 15px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.card i {
    color: aquamarine;
    font-size: 50px;
    margin: 25px 0px;

    font-variation-settings: 'FILL' 1;
}

.card h3 {
    text-align: center;
    font-size: 1.5em;
}