@charset "UTF-8";

/* Mobile First */

* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

html {
    height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: black url('../imagens/pexels-pixabay-356147.jpg') no-repeat right center;
    background-size: cover;
    color: white;
}

#burguer {
    display: block;
    background-color: rgba(255, 255, 255, 0.055);
    text-align: center;
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
}

#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu ul {
    list-style-type: none;
}

menu a {
    display: block;
    background-color: greenyellow;
    color: black;
    text-decoration: none;
    text-align: center;

    padding: 10px;
    border: 2px solid black;
    font-size: 1.2em;
}

menu a:hover {
    background-color: black;
    color: greenyellow;
}

main {
    position: absolute;
    left: 5%;
    top: 45%;
    width: 300px;
    transition-timing-function: ease;
}

main strong {
    color: greenyellow;
}